//Family fonts
$fontPrimary: 'Roboto', sans-serif;

//Colors
$background-color-lighter: #fff; //kolor tła biały:  białe tło / logo "filmoteka" / kolor tekstu w guzikach
$background-color-darker: #f7f7f7; //kolor tła "morski": tło w footer + tło "strzałek" w paginacji
$background-color-pagination: #e5e5e5; //kolor dla kontenera tła w paginacji
$text-color-darker: #000; //kolor tekstu głównego: nazwy filmów / numery w paginacji:
$text-color-lighter: #545454; //kolor tekstu w footer (jest jaśniejszy od zwykłego czarnego):
$active-color: #ff6b08; //kolor pomarańczowy: gatunek filmu / aktywne tła / logo "serduszko" w footer / tło guzików:
$accent-color: #ff001b; //kolor czerwony: podkreślnik w header "My library":
$accent-color-darker: #6b0000; //kolor ciemno wiśniowy: dla tła guzika w movie-trailer
$accent-color-focus-hover: #a00000; //kolor "czerwonawy" do focus / hover na guzik w movie-trailer
$night-setting: #0e0d0de0;
