 $background-color-lighter: #fff;
 $background-color-darker: #f7f7f7;
 $background-color-pagination: #e5e5e5;
 $text-color-darker: #000;
 $text-color-lighter: #545454;
 $active-color: #ff6b08;
 $accent-color: #ff001b;
 
