<footer class="container footer">
  <a class="link__footer" href="#">
    <div>
      © 2023 | All Rights Reserved | Developed by
      <picture class="footer__logo">
        <source
          srcset="
            ./images/footer/logoCodeRonins-mobile.jpg    1x,
            ./images/footer/logoCodeRonins-mobile@2x.jpg 2x,
            ./images/footer/logoCodeRonins-mobile@3x.jpg 3x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/footer/logoCodeRonins-tablet.jpg    1x,
            ./images/footer/logoCodeRonins-tablet@2x.jpg 2x,
            ./images/footer/logoCodeRonins-tablet@3x.jpg 3x
          "
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./images/footer/logoCodeRonins-desktop.jpg    1x,
            ./images/footer/logoCodeRonins-desktop@2x.jpg 2x,
            ./images/footer/logoCodeRonins-desktop@3x.jpg 3x
          "
          media="(max-width: 1600px)"
        />
        <img src="./images/footer/logoCodeRonins-desktop.jpg" alt="logo Code Ronins" />
      </picture>
      <!-- <picture class="footer__logo">
        <source
          srcset="
            ./images/footer/logoCodeRonins-mobile.jpg,
            ./images/footer/logoCodeRonins-mobile@3x.jpg,
            ./images/footer/logoCodeRonins-mobile@2x.jpg,
            ./images/footer/logoCodeRonins-tablet.jpg,
            ./images/footer/logoCodeRonins-tablet@2x.jpg,
            ./images/footer/logoCodeRonins-tablet@3x.jpg,
            ./images/footer/logoCodeRonins-desktop.jpg,
            ./images/footer/logoCodeRonins-desktop@2x.jpg,
            ./images/footer/logoCodeRonins-desktop@3x.jpg
          "
        />
        <img
          src="../images/footer/logoCodeRonins-mobile.jpg"
          alt="logo Code Ronins"
          width="199"
          height="50"
        />
      </picture> -->
      Code Ronins
    </div>
  </a>
</footer>
