<footer class="container footer">
  <div class="footer__box">
    © 2023 | All Rights Reserved |
    <span
      >Developed by
      <a class="footer__link" href="#">
        <picture class="footer__logo">
          <source
            srcset="
              ./images/footer/logoCodeRonins-mobile.jpg    1x,
              ./images/footer/logoCodeRonins-mobile@2x.jpg 2x,
              ./images/footer/logoCodeRonins-mobile@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/footer/logoCodeRonins-tablet.jpg    1x,
              ./images/footer/logoCodeRonins-tablet@2x.jpg 2x,
              ./images/footer/logoCodeRonins-tablet@3x.jpg 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/footer/logoCodeRonins-desktop.jpg    1x,
              ./images/footer/logoCodeRonins-desktop@2x.jpg 2x,
              ./images/footer/logoCodeRonins-desktop@3x.jpg 3x
            "
            media="(max-width: 1600px)"
          />
          <img
            class="footer__img"
            src="./images/footer/logoCodeRonins-desktop.jpg"
            alt="logo Code Ronins"
            width="60"
            height="60"
          />
        </picture>
      </a>
      Code Ronins</span
    >
  </div>
</footer>
