@use '../utils/variables' as var;
@use '../utils/container' as ctr;
@use '../utils/mediaquery' as mq;

.movie {
  &-backdrop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    transition-property: visibility;
    visibility: visible;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
  }
  &-modal {
    top: 50%;
    left: 50%;
    width: 280px;
    // max-height: 120vw;
    max-height: 90%;
    padding: 48px 20px 40px 20px;
    background-color: var.$background-color-lighter;
    border-radius: 4px;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    visibility: visible;
    overflow: scroll;

    @include mq.tablet {
      width: 704px;
      padding: 40px 72px 40px 36px;
      flex-direction: row;
    }
    @include mq.desktop {
      width: 806px;
      height: 558px;
    }
  }
}

.is-hidden,
.is-hidden .movie-modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(0%) scale(0);
}
.button-close {
  margin-top: 8px;
  margin-right: 8px;
}
.button-close .button-close__info {
  stroke: black;
  stroke-width: 2px;
  background-color: var.$background-color-lighter;
}
.movie-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq.tablet {
    flex-direction: row;
  }
}

.movie-info__data {
  @include mq.tablet {
    margin-left: 68px;
  }
}

.movie-info__img {
  border-radius: 5px;
  margin-bottom: 20px;
  @include mq.tablet {
    margin-bottom: 8px;
    width: 264px;
    height: 373.55px;
  }
  @include mq.desktop {
    width: 375px;
    height: 478px;
  }
}

.movie-info__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.movie-info__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @include mq.tablet {
    justify-content: start;
  }
}

.movie-info__params {
  width: 120px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  margin-bottom: 20px;
  margin-right: 20px;
  &-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.movie-info__results {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  &-item--vote {
    color: var.$background-color-lighter;
    background: #ff6b01;
    border-radius: 5px;
    padding: 1 7px;
  }
  &-item--count {
    color: black;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 1 7px;
  }
  &-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.movie-info__headline {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.movie-info__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 20px;
}

.movie-info__buttons {
  display: flex;
}

.movie-info__btn {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  width: 110px;
  height: 45px;
  background: none;
  font-weight: 500;
  font-size: 12px;
  color: var.$text-color-darker;
  text-transform: uppercase;
  cursor: pointer;
  &--watched {
    margin-right: 20px;
  }
  &:is(:focus, :hover) {
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border: none;
    background: var.$active-color;
    color: var.$background-color-lighter;
  }
}

.button-close__info:is(:focus, :hover) {
  stroke: var.$active-color;
}
